#header-container #heading {
  color: green;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#pdp-content {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

#pdp-content .column1, #pdp-content .column2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  max-width: 500px;
  text-align: center;
}

#pdp-content .col #button1, #pdp-content .col #image1 {
  display: none;
}

#pdp-content img, #pdp-content a {
  display: none;
  margin: auto;
  align-items: space-around;
  text-align: center;
}

#pdp-content img {
  width: 60%;
}